language: scala
scala:
   - 2.11.6
jdk:
- oraclejdk8
notifications:
  email: false
branches:
  only:
    - master
sudo: false
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/
script:
  # Your normal script
  - sbt ++$TRAVIS_SCALA_VERSION -J-XX:ReservedCodeCacheSize=256M coverage test coveralls

  # Tricks to avoid unnecessary cache updates
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm      

#after_success:
#  - >
#       test "${TRAVIS_PULL_REQUEST}" = 'false' &&
#       test "${TRAVIS_JDK_VERSION}" = 'oraclejdk8' &&
#       sh "$TRAVIS_BUILD_DIR/.travis.credentials.sh" &&
#       sbt 'set version := version.value + "." + System.getenv("TRAVIS_BUILD_NUMBER")' publish

